body {
  background-color: green;
}
.card {
  background-color: white;
  width: 350px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 80px;
}
.iconheader {
  display: flex;
  justify-content: start;
}
.value {
  display: flex;
  justify-content: center;
}
.iconfooter {
  display: flex;
  rotate: 180deg;
}
